<!-- templates/fragments/menu-lateral.html -->

<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/styles.css}">

	<div th:fragment="menuLateral" class="menu-lateral">
		<button th:onclick="@{/dashboard}">DashBoard</button>
		<button th:onclick="@{/acessos}">Acessos</button>
		<button th:onclick="@{/pessoas}">Pessoas</button>
		<button th:onclick="@{/veiculos}">Veículos</button>
		<button th:onclick="@{/casas}">Casas</button>
		<button th:onclick="@{/login}" class="btn-sair">Sair</button>
	</div>
</html>